.App {
  text-align: center;
  color: #333;
  overflow-x: auto;
  display: block;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%; 
  position: sticky;
  top: 0;
  z-index: 200;
  /* overflow: hidden; */
  display: block;
  background-color: white;
  margin-bottom: 50px;
}

.App-link {
  color: #61dafb;
}

.link{
  float: left;
  color: transparent;
  transition: transform 0.3s, width 0.3s, color 0.3s;
  text-decoration: none;
}

.link:hover{
  cursor: pointer;
  color: red;
}

.alex{
  float: left;
  color: #00000099;
  transition: transform 0.3s;
}

.alex:hover{
  cursor: pointer;
}

.punto{
  color: red;
  float: left;
  transition: transform 0.3s;
}

.punto2{
  color: transparent;
  float: left;
  transition: transform 0.3s;
}

.App-header:hover .punto{
  transform: translate(-20px);
}

.App-header:hover .punto2{
  transform: translate(-20px);
  color: red;
}

.App-header:hover .link{
  transform: translate(-20px);
  color: #00000099;
}

.footer{
  min-height: 10vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  width: 100%; 
  position: sticky;
  bottom: 0;
  z-index: 200;
  overflow: hidden;
  display: block;
  background-color: white;
  margin-bottom: 50px;
}


@media (max-width: 600px) {
  .App-header {
    position: relative;
    margin-bottom: 5px;
  }
}


